@media screen and (max-width: 1199px) {
  .service-text h3 {
    font-size: 20px;
  }
  .hero-text h1 span {
    font-size: 55px;
  }
  .service-area .service-text .theme-button {
    width: 80%;
  }
  .service-area .service-text p {
    font-size: 14px;
  }
  .single-work img {
    width: 100%;
  }
  .contact-text p {
    margin: 0px 0 30px;
  }
}
@media screen and (max-width: 991px) {
  /* Header area */
  .header-area {
    padding: 0 16px;
  }
  .header-area .navbar {
    margin-top: 15px;
  }
  .header-area .navbar-nav .nav-link {
    display: inline-block;
    margin: 15px 0;
  }
  /* Hero area */
  .hero-area {
    padding: 20px 16px 39px 16px;
  }
  .hero-text {
    align-items: center;
    text-align: center;
  }
  .hero-button {
    margin-bottom: 20px;
  }
  .hero-image {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .hero-image img {
    width: 85% !important;
  }
  /* service area */
  .service-area {
    padding: 80px 16px;
  }
  .single-service {
    margin-bottom: 24px;
  }
  /* Portfolio area */
  .work-area {
    padding: 80px 16px;
  }
  .single-work {
    margin-bottom: 24px;
  }
  .single-work h3 {
    font-size: 25px;
  }
  /* contact area */
  .contact-area {
    padding: 80px 16px;
  }
  .contact-text {
    padding: 30px;
  }
  .contact-text h2 {
    margin-bottom: 10px;
  }
  .contact-text p {
    margin: 0px 0 30px;
  }
  .contact-form {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero-text h1 {
    margin: 0;
    font-size: 30px;
  }
  .hero-text h1 span {
    font-size: 55px;
  }
  .hero-text p {
    padding: 0;
    font-size: 18px;
  }

  .contact-text {
    padding: 25px;
  }
  .contact-form {
    padding: 25px;
  }
  .contact-text h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .contact-text p {
    margin: 0px 0 30px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .header-area .navbar {
    margin: 0;
    padding: 10px 0;
  }
  .hero-area {
    min-height: calc(75vh - 88px);
    padding: 10px 16px 50px 16px;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 25px;
  }
  .hero-text h1 span {
    font-size: 40px;
    margin-top: 5px;
  }
  .hero-text p {
    font-size: 15px;

    padding: 10px 0;
  }
  .hero-text a {
    margin-top: 0;
    font-size: 14px;
  }
  .theme-button {
    padding: 8px 16px;
  }
  .service-area {
    padding: 50px 10px;
  }
  .work-area {
    padding: 50px 10px;
  }
  .contact-area {
    padding: 50px 10px;
  }
  .padd {
    padding: 20px 5px;
  }
  .contact-text h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contact-text p {
    font-size: 15px;
    text-align: center;
  }
  .contact-text a {
    font-size: 15px;
  }
  .contact-form h3 {
    font-size: 23px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .hero-area {
    padding: 10px 10px 50px 10px;
  }
  .hero-text h1 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .hero-text h1 span {
    font-size: 32px;
    margin-top: 10px;
  }
  .hero-text p {
    font-size: 14px;
  }
  .theme-button {
    padding: 7px 14px;
  }
  .section-heading h2 {
    font-size: 14px;
  }
  .section-heading h3 {
    font-size: 35px;
  }
  .service-area {
    padding: 50px 10px;
  }
  .service-text h3 {
    font-size: 20px;
  }
  .service-text p {
    font-size: 13px;
  }
  .work-area {
    padding: 50px 10px;
  }
  .contact-area {
    padding: 50px 10px;
  }
  .contact-text {
    padding: 10px;
  }
  .contact-text h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  .contact-text p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  .contact-img i {
    font-size: 12px;
    color: var(--textcolor);
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 7px;
  }
  .contact-txt a {
    font-size: 13px;
  }
  .contact-form {
    background: transparent;
    margin-top: 10px;
    padding: 10px;
  }
  .contact-form h3 {
    font-size: 20px;
  }
  #error-div p {
    font-size: 14px;
  }
  .contact-form button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px 0;
  }
  .footer-area .social-link li a {
    background-color: var(--primarycolor);
    height: 30px;
    width: 30px;
    font-size: 15px;
  }
  .footer-area p {
    font-size: 13px;
  }
}
